/* Add CSS Styling */
*{
    font-family: verdana;
}

.odd{
    background-color: rgb(255, 182, 193);
}

.div, #two{
    color: rgb(0,0,255);
    font-size: 36px;
}

#three{
    font-size: 24px;
}

#four{
    background-color: rgb(144, 238, 144);
    font-size: 24px;
    font-weight: bold;
}